body{
    background-color: white;
}

.pre-footer{
    background-color: #3f4042;
    color: white;
}

.jumbotron { margin-bottom: 0; }

.nav-ta{ font-size: 10px; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}